.abc{

font-weight:7;
font-size: 25px;
}

.xyz{
    font-weight:15px;
    font-size: 10px;

}
.pl{

    width: 120px;
    height: 40px;
    border-radius: 100px;
}
.tab{

    margin-top:30px;
    height:50px;
    counter-reset: serial-number;   
 
}

.tab  td:first-child:before {
    counter-increment: serial-number;  /* Increment the serial number counter */
    content: counter(serial-number);  /* Display the counter */
  }

.abc{

    margin-left: 50px;
}